<h1>{{action}} ThingsILike</h1>

<form method="post">
  {% csrf_token %}
  <div>
    <label>Titulo</label>
    <input name="title" value="{{things.title}}">
  </div>
  <div>
    <label>O que</label>
    <input name="what" value="{{things.what}}">
  </div>
  
  <div>
    <label>Quando</label>
    <input name="when" value="{{things.when}}">
  </div>
  
  <div>
    <label>Frequencia</label>
    <input name="how_often" value="{{things.how_often}}">
  </div>
  <input type="submit" value="Registrar">
</form>